@import "~@angular/material/theming";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 10%;
    flex-grow: 5;
    background-color: mat-color(mat-palette($mat-pink, 900));
    overflow: hidden;
  }

  main {
    box-shadow: 0px 4px 6px 0px inset rgb(0 0 0 / 20%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 48px;
    height: 100%;
    position: relative;
    background-color: mat-color(mat-palette($mat-grey, 800));

    mat-table {
      width: 75%;
      min-width: 400px;
      max-width: 1200px;
      background-color: mat-color(mat-palette($mat-grey, 900));

      mat-header-cell,
      mat-cell {
        justify-content: center;
        color: #ffffff;
      }
    }
  }
}
